/* TabPane background */
.tab-pane {
    -fx-background-color: #000000;
}

/* Tab appearance */
.tab {
    -fx-background-color: #000000;
    -fx-padding: 5px 10px;
    -fx-background-radius: 10px 10px 0 0;
    -fx-border-radius: 10px 10px 0 0;
    -fx-font-family: 'Roboto';
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

/* Selected tab appearance */
.tab:selected {
    -fx-background-color: #2b2b2b;
    -fx-background-radius: 10px 10px 0 0;
    -fx-text-fill: white;
}

/* Tab label appearance (if used) */
.tab-label {
    -fx-font-family: 'Roboto';
    -fx-font-size: 12px;
    /* -fx-font-weight: bold; */
    -fx-text-fill: white;
}
